streamlit
transformers
tokenizers
torch
numpy
pandas
scikit-learn
matplotlib
seaborn
nltk
scipy
scikit-learn
regex
pytesseract
opencv-python-headless
pydantic==1.10.11
streamlit_pandas_profiling
ipywidgets
ipython



