streamlit
transformers
tokenizers
torch
numpy
pandas
scikit-learn
matplotlib
seaborn
nltk
scipy
scikit-learn
regex
pytesseract
opencv-python-headless
sweetviz
phik==0.12.2
streamlit-pandas-profiling
ipywidgets
ipython



