streamlit
transformers
tokenizers
torch
numpy
pandas
scikit-learn
matplotlib
seaborn
nltk
scipy
scikit-learn
regex
pytesseract
sweetviz
pandas-profiling==3.2.0
ydata-profiling==4.6.2
ipywidgets
ipython
streamlit-pandas-profiling==0.1.3
